<div id="register" class="reservations-main pad-top-100 pad-bottom-100">
    <div class="footer-news pad-top-100 pad-bottom-70 parallax">
        <div class="container">
            <div class="row">
                <div class="form-reservations-box">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                            <h2 class="block-title text-center" style=" color: white;">Registration </h2>
                        </div>
                        <h4 class="form-title" style=" color: white;">REGISTRATION FORM</h4>
                        <p>PLEASE FILL OUT ALL REQUIRED* FIELDS. THANKS!</p>
                        <form id="contact-form" method="post" class="reservations-box" name="contactform" action="mail.php">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box"><input type="text" name="user_name" id="user_name" placeholder="Name" required="required" data-error="Firstname is required."></div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box"><input type="email" name="user_email" id="email" placeholder="E-Mail ID" required="required" data-error="E-mail id is required."></div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box"><input type="text" name="user_mobile" id="phone" placeholder="contact no."></div>
                            </div>
                            <!-- end col -->
                           
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box"><input type="text" name="user_address" id="address" placeholder="Address"></div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box"><input type="text" name="user_password" id="password" placeholder="Enter password."></div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box"><input type="text" name="Confirm_password" id=" confirm password" placeholder="Confirm password."></div>
                            </div>
                              <!-- end col -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="reserve-book-btn text-center"><button class="hvr-underline-from-center" type="submit" value="SEND" id="submit">REGISTER </button></div>
                            </div>
                            <!-- end col -->
                        </form>
                        <!-- end form -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end footer-news -->